body{
    background-color: black;
}

img{
    height:380px;
    display: block;
    margin: auto;
}

#tb{
    height: 1000px;
}

#nomeh{
    color:white;
    text-align: center;
    font-size: 35px;
}

#tmudar{
    color:white;
    font-size: 20px;
}

#bt{
    display: block;
    margin: auto;
}

#opc{
    color:white;
    font-size: 15px;
}
